In [1]:
import pandas as pd

# -----------------------------
# STEP 1: Load Dataset
# -----------------------------
df = pd.read_csv("hotel_bookings_cleaned.csv")
df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [2]:
df["TotalSpend"] = (df["stays_in_weekend_nights"] + df["stays_in_week_nights"]) * df["adr"]

In [3]:
df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,TotalSpend
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,0.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,0.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,75.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,75.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,196.0

In [4]:
def assign_tier(spend):
      if spend >= 1000:
          return "Platinum"
      elif spend >= 700:
          return "Gold"
      elif spend >= 300:
          return "Silver"
      else:
          return "Copper"

df["Tier"] = df["TotalSpend"].apply(assign_tier)

In [5]:
df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,TotalSpend,Tier
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,0.0,Copper
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,0.0,Copper
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,75.0,Copper
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,75.0,Copper
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,196.0,Copper

In [6]:
print(df[["TotalSpend", "Tier"]].head(20))

    TotalSpend    Tier
0         0.00  Copper
1         0.00  Copper
2        75.00  Copper
3        75.00  Copper
4       196.00  Copper
5       196.00  Copper
6       214.00  Copper
7       206.00  Copper
8       246.00  Copper
9       316.50  Silver
10      492.00  Silver
11      580.00  Silver
12      388.00  Silver
13      619.08  Silver
14      378.84  Silver
15      388.00  Silver
16      390.00  Silver
17       88.20  Copper
18      107.42  Copper
19      612.00  Silver

In [7]:
tier_order = ["Copper", "Silver", "Gold", "Platinum"]

def predict_next_tier(row):
    current_tier = row["Tier"]
    spend = row["TotalSpend"]
    cancellations = row["previous_cancellations"]

    idx = tier_order.index(current_tier)

    # Tier thresholds
    tier_limits = {
        "Copper": (0, 300),
        "Silver": (300, 700),
        "Gold": (700, 1000),
        "Platinum": (1000, float("inf"))
    }

    lower, upper = tier_limits[current_tier]

    # Business logic for movement
    if spend >= 0.9 * upper and cancellations <= 1:
        # Upgrade if not already at top tier
        if idx < len(tier_order) - 1:
            return tier_order[idx + 1]
    elif spend < 0.5 * lower or cancellations >= 3:
        # Downgrade if not already at lowest tier
        if idx > 0:
            return tier_order[idx - 1]

    # Stay in same tier
    return current_tier

df["NextTier"] = df.apply(predict_next_tier, axis=1)

# -----------------------------
# STEP 5: Save Updated Dataset
# -----------------------------
df.to_csv("hotel_bookings_with_tiers.csv", index=False)

print(df[["TotalSpend", "Tier", "NextTier"]].head(50))

    TotalSpend      Tier  NextTier
0         0.00    Copper    Copper
1         0.00    Copper    Copper
2        75.00    Copper    Copper
3        75.00    Copper    Copper
4       196.00    Copper    Copper
5       196.00    Copper    Copper
6       214.00    Copper    Copper
7       206.00    Copper    Copper
8       246.00    Copper    Copper
9       316.50    Silver    Silver
10      492.00    Silver    Silver
11      580.00    Silver    Silver
12      388.00    Silver    Silver
13      619.08    Silver    Silver
14      378.84    Silver    Silver
15      388.00    Silver    Silver
16      390.00    Silver    Silver
17       88.20    Copper    Copper
18      107.42    Copper    Copper
19      612.00    Silver    Silver
20      486.45    Silver    Silver
21      508.02    Silver    Silver
22      508.02    Silver    Silver
23      598.02    Silver    Silver
24      664.65    Silver      Gold
25      445.20    Silver    Silver
26      556.50    Silver    Silver
27      749.00      Gold      Gold
28      658.00    Silver      Gold
29      611.10    Silver    Silver
30      868.00      Gold      Gold
31      957.90      Gold  Platinum
32     1083.00  Platinum  Platinum
33      393.00    Silver    Silver
34      435.20    Silver    Silver
35      435.20    Silver    Silver
36      392.00    Silver    Silver
37      435.20    Silver    Silver
38      435.20    Silver    Silver
39      685.00    Silver      Gold
40      589.05    Silver    Silver
41      397.50    Silver    Silver
42      615.00    Silver    Silver
43      685.00    Silver      Gold
44      774.90      Gold      Gold
45     1071.00  Platinum  Platinum
46      412.65    Silver    Silver
47      580.16    Silver    Silver
48      576.45    Silver    Silver
49      835.45      Gold      Gold